{% assign items = site.books | sort: 'weight' %}
<amp-sidebar id="header-menu" layout="nodisplay" side="right">
    <button class="amp-close-image trigger-button trigger-button--menu-close" on="tap:header-menu.close" role="button"
        tabindex="0">
        <i aria-hidden="true" class="fas fa-times" title="Close menu"><span class="sr-only">Close Menu</span></i>
    </button>
    <h3>Menu</h3>
    <div class="menu-primary-container">
        <ul id="menu-primary" class="header-menu ul--lines">
            <li><a href="/" title="Home">Home</a>
            </li>
            <li><a href="/about.html" title="About">About</a></li>
            <li><a href="/books/" title="All Book Notes">All Book Notes</a></li>
            <li><a href="/posts/" title="All Posts">Posts</a></li>
            <li><a href="/tags/" title="All Tags">Tags</a></li>
        </ul>
    </div>

    <h3>You Are Here</h3>
    <div class="menu-primary-container">
        <ul class="ul--lines">
            <li><a href="{{page.url}}">{{page.title}}</a></li>



            {% for item in items %}
            {% if item.tags contains 'single-chapter' and item.chapter_name contains page.chapter_name %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
            {% endif %}
            {% endfor %}

            {% for item in items %}
            {% if item.tags contains 'single-book' and item.book_name contains page.book_name %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page.collection == 'books' %}
            <li><a href="/books/">Book Notes</a></li>
            {% endif %}




        </ul>
    </div>

    <!--
    <h3>Selected Tags</h3>
    <ul class="ul--lines">
        <li><a href="/tags/#john">John</a></li>
        <li><a href="/tags/">All Tags</a></li>
    </ul>
-->
    <div class="copyright">
        ©2019, Journal.
    </div>

</amp-sidebar>