{% assign items = site.books | sort: 'weight' %}
<amp-sidebar id="header-menu" layout="nodisplay" side="right">
    <button class="amp-close-image trigger-button trigger-button--menu-close" on="tap:header-menu.close" role="button"
        tabindex="0">
        <i aria-hidden="true" class="fas fa-times" title="Close menu"><span class="sr-only">Close Menu</span></i>
    </button>
    <h3>Menu</h3>
    <div class="menu-primary-container">
        <ul id="menu-primary" class="header-menu ul--lines">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/books/" title="All Book Notes">Book Notes</a></li>
            <li><a href="/posts/" title="All Posts">Posts</a></li>
        </ul>
    </div>

    <h3>You Are Here</h3>
    <div class="menu-primary-container">
        <ul class="ul--lines">
            <li><a href="{{page.url}}">{{page.title}}</a></li>

            {% for item in items %}
            {% if item.title != page.title %}

            {% if item.tags contains 'single chapter' and item.chapter_name contains page.chapter_name %}
            <li><a href="{{item.url}}">Chapter: {{item.title}}</a></li>
            {% endif %}

            {% if item.tags contains 'single book' and item.book_name contains page.book_name %}
            <li><a href="{{item.url}}">Book: {{item.title}}</a></li>
            {% endif %}

            {% endif %}
            {% endfor %}

            {% if page.collection == 'books' and page.title != 'Book Notes' %}
            <li><a href="/books/">Book Notes</a></li>
            {% endif %}

            {% if page.collection == 'posts' %}
            <li><a href="/posts/">Posts</a></li>
            {% endif %}
        </ul>
    </div>

    <h3>Tags</h3>
    <div class="menu-primary-container">
        <ul class="ul--lines">
            <li><a href="/tags-post/" title="Post Tags">Post Tags</a></li>
            <li><a href="/tags-book/" title="Book Tags">Book Tags</a></li>
            <li><a href="/tags-people/" title="People">People</a></li>
            <li><a href="/tags-locations/" title="Locations">Locations</a></li>
        </ul>
    </div>

    <div class="copyright">
        ©2019, John Regan.
    </div>

</amp-sidebar>