{% include head.html %}

{% assign items = site.books | sort: 'weight' %}

<main id="main">
    <div id="primary" class="container-fluid">
        <div class="row justify-content-center post__item">
            <div class="col-12 col-md-10 col-xl-6">
                <article class="post--single page type-page status-publish hentry">
                    <header class="post__header">
                        <p class="post__breadcrumbs"><small><a href="/books/">Book Notes</a>{% for item in items %}
                                {% if item.tags contains 'single book' and item.book_name contains page.book_name %}
                                <span>&raquo;</span> <a href="{{item.url}}">{{item.title}}</a>
                                {% endif %}
                                {% endfor %}

                                {% for item in items %}
                                {% if item.tags contains 'single chapter' and item.chapter_name contains page.chapter_name %}
                                <span>&raquo;</span> <a href="{{item.url}}">{{item.title}}</a>
                                {% endif %}
                                {% endfor %}
                                <span>&raquo;</span> <a href="{{page.url}}">{{page.title}}</a>
                            </small></p>
                        <h1 class="post__title">{{ page.title }}</h1>
                    </header>
                    <div class="post__body">
                        {{ content }}

                        {% if page.creation_date %}
                        <div class="post__date">
                            <small>Written {{page.creation_date}}</small>
                        </div>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>

{% include foot.html %}